<div class="header-menu">
    <span>自动保存： <a href="#" action="auto-save" title="自动保存到云端" data-prop="$autoSave"><img
            class="auto-save-icon sync-icon icon small-icon" data-prop="$autoSaveIcon"/></a>&nbsp;|&nbsp;</span>
    <span>自动重载： <a href="#" action="sync-fountain" title="从云端/磁盘自动重载" data-prop="$autoLoad"><img
            class="auto-reload-icon sync-icon icon small-icon" data-prop="$autoLoadIcon"/></a>&nbsp;|&nbsp;</span>
    <span>保存.fountain： <a href="#" action="save-fountain" data-prop="$saveFountainLocally"><img src="gfx/icons/other/download.svg"
                                                                  class="icon small-icon"
                                                                  title="下载Fountain文件"/></a></span>
</div>