<style>
	.plugin-content[plugin="facts"] li span {
		font-weight: bold;
	}
	
</style>
<ul>
	<li>标题：
		<span id="facts-title"></span>
	</li>
	<li>页数：
		<span id="facts-pages"></span>
	</li>
	<li>时长：
		<span id="facts-time"></span>
	</li>
	<li>场景数：
		<span id="facts-scenes"></span>
	</li>
	<li>动作时长：
		<span id="facts-action-time"></span>
	</li>
	<li>对白时长：
		<span id="facts-dialogue-time"></span>
	</li>
	<li>主要人物：
		<span id="facts-primary-characters"></span>
	</li>
	<li>次要人物：
		<span id="facts-secondary-characters"></span>
	</li>
</ul>
<div id="facts-time-of-speaking-container">
<h2>说话时长</h2>
<span class="content-expander expand-dialogue show-all-dialogues" data-prop="$expandDialogues" style="margin-left: 20px">显示前 10 个人物。点击此处显示全部&nbsp;
	<span class="nof-dialogues"></span> 个人物。</span>
<span class="content-expander expand-dialogue show-top-dialogues" style="display:none; margin-left: 20px">显示全部&nbsp;
	<span class="nof-dialogues"></span> 个人物。点击此处仅显示前 10 个。</span>
<ol id="facts-characters"></ol>
</div>
<div id="facts-locations-contaner">
<h2>地点</h2>
<span class="content-expander expand-locations show-all-locations" data-prop="$expandLocations" style="margin-left: 20px">显示前 10 个地点。点击此处显示全部&nbsp;
	<span class="nof-locations"></span> 个地点。</span>
<span class="content-expander expand-locations show-top-locations" style="display:none; margin-left: 20px">显示全部
	<span class="nof-locations"></span> 个地点。点击此处仅显示前 10 个。</span>
<ol id="facts-locations"></ol>
</div>