<style>
	.plugin-content[plugin="stats"] svg {
		margin: 20px 0 20px 0;
	}
	
</style>
<p>关于您剧本的一些统计数据。如果您对图表有任何想法，请通过
	<a href="mailto:contact@afterwriting.com?Subject=Stats%20idea">contact@afterwriting.com</a> 联系我！</p>
<div data-comp="whoWithWhoHeader"></div>
<div id="who-with-who" style="text-align: center"></div>

<div data-comp="scriptPulseHeader"></div>
<div id="stats-tempo"></div>

<div data-comp="sceneLengthHeader"></div>
<span>图表颜色：</span><select id="stats-scene-length-type" data-prop="$sceneLengthType">
	<option value="day_night">白天/晚上</option>
	<option value="int_ext">内景/外景</option>
</select>
<div id="stats-scene-length" width="100%"></div>

<div data-comp="locationsBreakdownHeader"></div>
<div id="locations-breakdown"></div>

<div data-comp="pageBalanceHeader"></div>
<div id="stats-page-balance"></div>

<div data-comp="daysAndNightsHeader"></div>
<div id="stats-days-and-nights" style="text-align: center"></div>

<div data-comp="intVsExtHeader"></div>
<div id="stats-int-ext" style="text-align: center"></div>