<div class="header-menu">
    <span data-prop="$saveLocally">保存PDF: <a href="#" action="save-pdf"><img src="gfx/icons/other/download.svg"
                                                        class="icon small-icon" title="下载PDF"/></a></span>
</div>