<ul class="no-bullets">
	<li>
		<img src="gfx/icons/other/new.svg" class="icon" />
		<a href="#" open-action="new" data-prop="$openNew">新建</a>
	</li>
	<li>
		<img src="gfx/icons/other/load.svg" class="icon" />
		<a href="#" open-action="open" data-prop="$openLocalFile">加载文件</a>
	</li>
	<li class="last-used" data-prop="$lastUsed">
		<img src="gfx/icons/other/reuse.svg" class="icon" />上次编辑内容：&nbsp;
		<a href="#" open-action="last" data-prop="$lastUsedTitle"></a>&nbsp;<span data-prop="$lastUsedDate"></span></li></ul>
<h1>示例</h1>
<ul>
	<li>
		<a href="#" open-action="sample" value="propaganda_writer">
			<i>宣传作家</i>
		</a>&nbsp;示例中文剧本</li>
</ul>
<div id="open-file-wrapper" data-prop="$fileWrapper"></div>
