<ul>
    <li>Fountain: <a href="#" action="save-fountain" data-prop="$saveFountainLocally">下载</a></li>
    <li>PDF: <a href="#" action="save-pdf" data-prop="$savePdfLocally">下载</a></li>
    <li>移动设备/Kindle友好PDF: <a href="#" action="save-mobile-pdf" data-prop="$saveMobilePdfLocally">下载</a></li>
</ul>