<p>
	<span><em>'Afterwriting</em>&nbsp;是一个编剧工具平台。您可以打开<a href="http://fountain.io/" target="_blank"><strong>Fountain格式</strong></a>的剧本。您也可以使用</span>
	<span data-comp="switchToOpen" class="switch" href="#" section="open"></span><span>中的示例。</span></p>
<h2>离线版本</h2>

<p>也有离线版本！只需下载
	<a href="afterwriting.zip" id="download-link" data-prop="$downloadLink">文件</a>，解压并双击 afterwriting.html。</p>
<p>
	这是一个纯客户端应用。这意味着您的剧本永远不会被发送到您的电脑之外。
</p>

<h2>命令行界面</h2>

<p>'Afterwriting也提供命令行界面版本。更多详情请访问<a href="https://github.com/ifrost/afterwriting-labs/blob/master/docs/clients.md" target="_blank">GitHub</a></p>

<h2>联系方式</h2>
<p>
<p><a href="http://twitter.com/afterwriting" target="_blank" title="twitter.com/afterwriting"><img src="gfx/icons/other/twitter.svg" class="icon" />@afterwriting</a></p>
<p><a href="http://blog.afterwriting.com" target="_blank" title="blog.afterwriting.com"><img src="gfx/icons/other/blogger.svg" class="icon" />blog.afterwriting.com</a></p>
<p><a href="mailto:contact@afterwriting.com" title="contact@afterwriting.com"><img src="gfx/icons/other/email.svg" class="icon" />contact@afterwriting.com</a></p>
<p><a href="http://about.me/piotr.jamroz" target="_blank"><img src="gfx/icons/other/about.me.svg" class="icon" />about.me</a>
<p><a href="https://github.com/ifrost/afterwriting-labs" target="_blank"><img src="gfx/icons/other/github.svg" class="icon" />GitHub</a>
</p>
<h2>致谢</h2>
<p>
	<ul>
		<li>图像由 nano banana 2025 生成<br/>
			<em>要替换为您自己的背景图像，请将您的图像文件（PNG 格式）放入 <code>gfx</code> 文件夹，命名为 <code>bg0.png</code> 到 <code>bg5.png</code>。应用会随机选择一张图像作为背景。</em>
		</li>
		<li>示例剧本：
			<ul>
				<li>
					<em>宣传作家</em>&nbsp;示例中文剧本
				</li>
			</ul>
		</li>
		<li>DayRoman字体由<a href="http://apostrophiclab.pedroreina.net/" target="_blank">Apostrophic Laboratories</a>提供
		</li>
		<li>Courier Prime字体由<a href="http://quoteunquoteapps.com/courierprime/" target="_blank">Quote-Unquote Apps</a>提供
		</li>
		<li>简体中文本地化由 Peter Larsen 完成
		</li>
		<li>JavaScript库：
            <a href="https://github.com/mattdaly/Fountain.js" target="_blank">Fountain.js</a> |
            <a href="https://github.com/eligrey/FileSaver.js" target="_blank">FileSaver.js</a> |
            <a href="http://github.com/jonnyreeves/js-logger" target="_blank">js-logger</a> |
            <a href="http://pdfkit.org/" target="_blank">PDFKit</a> |
            <a href="http://codemirror.net/" target="_blank">CodeMirror</a> |
            <a href="http://jquery.com/" target="_blank">jQuery</a> |
            <a href="http://d3js.org/" target="_blank">d3.js</a> |
            <a href="http://handlebarsjs.com/" target="_blank">Handlebars</a> |
            <a href="https://github.com/jrburke/almond" target="_blank">Almond</a> |
            <a href="http://requirejs.org/" target="_blank">RequireJS</a> |
            <a href="http://www.jstree.com/" target="_blank">jstree</a> |
            <a href="http://trentrichardson.com/Impromptu/" target="_blank">JQuery Impromptu</a> |
            <a href="https://mozilla.github.io/pdf.js/" target="_blank">PDF.js</a>
        </li>
	</ul>
</p>
